html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  height: 100vh;
}

.time-block {
  height: 70px;
  /* border-top: 1px solid white; */
}

.hour {
  text-align: center;
  color: white;
  border-top: 1px dashed white;
  width: 70px;
}

textarea {
  /* background-color: cyan; */
  resize: none; /*remove the resize handle on the bottom right*/
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid darkgrey;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.past {
  background-color: grey;
}

.present {
  background-color: magenta;
}

.future {
  background-color: cyan;
}

.save-btn {
  width: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: magenta;
}